[Unit]
Description=Electrical Monitoring
After=network-online.target
Wants=network-online.target


# Avoid restart storms
StartLimitIntervalSec=60
StartLimitBurst=10

[Service]
Type=simple

# Run as non-root (user is literally my username :)
User=user
Group=user

# Always set this
WorkingDirectory=/home/user/heat-pump-modbus-decoding/modbus/

# Use absolute paths
ExecStart=/home/user/.local/bin/uv run capture.py

# Restart behaviour
Restart=always
RestartSec=5



# Environment (optional)
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target